@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Noto+Sans+JP&family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/* ---Body & Reset--- */
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/* ---Utility Class--- */
.h-primary{
    font-family: 'Oswald', sans-serif;
    margin-bottom: -10px;
    color: rgb(45, 45, 207);
}
.h-secondary{
    font-family: 'Kanit', sans-serif;
    color: rgb(0, 0, 131);
}
.btn{
    padding: 10px 25px;
    background-color: yellow;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    transition: all 0.4s ease-in-out;
}
.btn:hover{
    background-color: rgb(0, 0, 143);
    color: white;
}

/* ---Navbar--- */
#navbar{
 display: flex;
 height: 100px;
 background-color: white;
 color: black;
}
.first{
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 90px;
}
.second{
    width: 47%;
}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none; 
    padding: 5px 8px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.1rem;
    color: black;
    transition: all 0.7s ease-in-out;
}
nav ul li a:hover{
    color: rgb(0, 0, 168);
}
.last{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22%;
}


/* ---Home-Section--- */
#home-section{
    height: 100%;
    background: url(/Plumbing/bg2.jpg) top center / cover;
    display: flex;
    justify-content: space-evenly;
}
.home-cont{
    width: 36%;
    margin: 70px 0;
}
.home-container{
    background-color: #0b0b68f1;
    border-radius: 12px;
}
.home-content{
    font-family: 'Noto Sans JP', sans-serif;
}
.home-content h1{
    text-align: center;
    color: yellow;
    font-size: 2.3rem;
    padding: 20px 0px;
}
.home-content p{
    text-align: center;
    color: white;
}
form{
    width: 86%;
    margin: 10px auto;
}
.form-items{
    background-color: white;
    border-radius: 7px;
    margin: 20px 0;
    display: flex;
    padding: 0.1px;
}
.form-items input{
    font-size: 1rem;
    width: 100%;
    padding: 8px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border: none;
    font-family: 'Kanit', sans-serif;
    background-color: rgb(212, 212, 212);
}
.form-items label{
    width: 10%;
    text-align: center;
    justify-content: center;
    margin: auto 0;
    
}
i{
    color: darkblue;
    cursor:pointer;
}
.form-items textarea{
    resize:none;
    padding: 8px;
    width: 100%;
    font-family: 'Kanit', sans-serif;
    background-color: rgb(212, 212, 212);
    border: none;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.form-items-2{
    color: white;
    font-family: 'Kanit', sans-serif;
}
.form-items-2 div{
    display: flex;
    margin: 15px 0;
}
.form-items-2 div span{
    width: 20%;
}
.form-items-2 div span input{
    cursor: pointer;
    padding: 0 5px;
}
.form-items-2 div span label{
    padding: 4px;
    cursor: pointer;
}
.submit{
    margin-bottom: 30px;
}
.submit:hover{
    background-color: white;
    color: black;
}


/* ---About-Section--- */
#about-section{
    height: 100%;
    display: flex;
    justify-content: center;
}
.about-first{
    width: 25%;
}
.about-photo{
    margin-top: 85px;
    margin-bottom: 45px;
}
.about-photo img{
    width: 100%;
    border-radius: 17px;
    box-shadow: gray 2px 2px;
}
.about-last{
    width: 60%;
    height: 100%;
    padding-top: 90px;
    padding-left: 30px;
}
.about-last-top{
    height: 100%;
}
.top-first{
    color: black;
    font-size: 3rem;
    margin-bottom: -10px;
    font-family: 'Noto Sans JP', sans-serif;
}
.top-second{
    color: darkblue;
    font-size: 2.5rem;
    font-family: 'Noto Sans JP', sans-serif;
}
.top-para{
    padding: 30px 0;
    font-size: 1.3rem;
    font-family: 'Kanit', sans-serif;
}
.about-last-bottom{
    display: flex;
    padding-bottom: 40px;
    justify-content: space-between;
}
.about-bottom-first{
    width: 45%;
    display: flex;
    background-color: whitesmoke;
    border-radius: 11px;
    padding: 18px 0;
    transition: all 0.7s ease-out;
    cursor: pointer;
}
.about-bottom-first:hover{
    background-color: yellow;
}
.about-bottom-first:hover .about-icon i{
    background-color: darkblue;
    color: yellow;
}
.about-icon{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-icon i{
    font-size: 40px;
    border-radius: 100px;
    color: darkblue;
    transition: all 0.7s ease-out;
}
.about-icon-text{
    width: 80%;
}
.icon-h{
    font-size: 1.3rem;
    font-family: 'Noto Sans JP', sans-serif;
}
.icon-p{
    font-size: 1.1rem;
    font-family: 'Kanit', sans-serif;
}

/* ---Problem-Section--- */
#problem-section{
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 139, 0.9);
}
#problem-section::before{
    content: '';
    background: url(../Plumbing/bg1.jpg) no-repeat fixed center center / cover;
    position: absolute;
    width: 100%;
    height: 250%;
    z-index: -10;
}
.problem-first{
    width: 59%;
   display: flex;
    justify-content: center;
    align-items: center;
}
.problem-last{
    width: 41%;
    padding: 35px;
}
.p-h-1{
    color: white;
}
.p-h-2{
    color: yellow;
}
.pr-para{
    color: white;
    padding: 30px 35px 0 0;
}
/* animation in problem section */
.box{
   width: 600px; 
   height: 337px;
   box-sizing: border-box;
   display: inline-block;
   border-radius: 15px;
   animation: ani1 1.2s infinite ease-in-out forwards;
}
@keyframes ani1 {
    0%{
        box-shadow: 0px 0px 10px white;
    }
    50%{
        box-shadow: 0px 0px 20px white;
    }
    100%{
        box-shadow: 0px 0px 10px white;
    }
}
.box img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
    display: none;
}
#i-1{
    display: block;
}

/* ---Services-Section--- */
#services-section{
    height: 100%;
    background-color: white;
}
.ser-main-h{
    text-align: center;
    font-size: 2.4rem;
    padding: 95px 0 25px 0;
}
.ser-h{
    text-align: center;
    font-size: 2rem;
    transition: all 0.5s ease-out;
}
.hr-line{
    border: 1px  black;
    border-style: dotted;
    padding: 0.001px;
    width: 40%;
    margin: 0 auto;
}
.ser-para{
    text-align: center;
    width: 75%;
    margin: 0 auto;
    transition: all 0.5s ease-out;
}
.our-services{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    flex-wrap: wrap;
}
.ser{
    width: 30%;
    background-color: rgba(214, 214, 214, 0.76);
    margin: 15px;
    box-sizing: border-box;
    border-radius: 9px;
    transition: all 0.5s ease-out;
}
.ser:hover{
    background-color: rgba(0, 0, 139, 0.897);
}
.ser:hover .ser-logo i{
    color: white;
}
.ser:hover .ser-h{
    color: yellow;
}
.ser:hover .ser-para{
    color: white;
}
.ser-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ser-logo i{
    font-size: 4.7rem;
    padding: 18px;
    transition: all 0.5s ease-out;
}

/* ---More-Services--- */
#more-services{
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 139, 0.9);
}
#more-services::before{
    content: '';
    background: url(../Plumbing/p2.jpg) no-repeat fixed top center / cover;
    position: absolute;
    height: 200%;
    width: 100%;
    z-index: -7;
}
.ser-left{
    width: 55%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    height: 100%;
}
.ser-container{
    width: 78%;
    height: 540px;
    margin-top: 60px;
    margin-bottom: 90px;
    display: flex;
    flex-direction: column;
}
.ser-item{
    display: flex;
    height: 140px;
    cursor: pointer;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.ser-icon{
    width: 23%;
    background-color: yellow;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-left: 2px solid darkblue;
    border-top: 1px solid darkblue;
    border-bottom: 1px solid darkblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ser-icon i{
    font-size: 4.5rem;
}
.item-h{
    width: 75%;
    border-top: 1px solid darkblue;
    border-bottom: 1px solid darkblue;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    padding-left: 30px;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.ser-empty{
    width: 2%;
    background-color: yellow;
}
.ser-right{
    width: 45%;
    background-color: rgb(247, 247, 247);
    padding: 55px;
}
.right-icon{
    display: flex;
    margin-top: 20px;
}
.right-icon i{
    font-size: 1.7rem;
    padding-right: 15px;
}
.item-r-h{
    font-family: 'Kanit', sans-serif;
}
.ser-box{
    display: none;
}
#box-1{
    display: block;
}

.ser-a{
    display: none;
}
.ser-a h3{
    background-color: yellow;
    color: darkblue;
}
.ser-a>.ser-icon{
    background-color: rgba(255, 255, 255, 0.514);
}
.ser-a>.ser-icon i{
    color: yellow;
}
#ser-1a{
    display: none;
}
#ser-1b{
    display: flex;
}

/* ---Projects-Section--- */
#projects-section{
    height: 100%;
    background-color: white;
}
.projects{
    margin: 50px auto;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.p-image{
    width: 32rem;
    height: 20rem;
    margin: 15px;
}
.p-image img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

/* ---Price-Section--- */
#price-section{
    background-color: rgba(255, 255, 255, 0.9);
    padding-bottom: 60px;
}
#price-section::before{
    content: '';
    background: url(../Plumbing/p2.jpg) no-repeat fixed top center / cover;
    position: absolute;
    height: 200%;
    width: 100%;
    z-index: -5;
}
.prices{
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.pri-1{
    width: 18.5rem;
    margin: 25px 20px;
    background-color: white;
    color: black;
    padding: 15px;
    border-radius: 11px;
    box-shadow: gray;   
    position: relative;
    transition: all 0.3s ease-out;
}
.pri-1:hover{
    box-shadow:1px 0px 20px gray;
}
.pri-1:hover .pri-empty{
    background-color: yellow;
}
.pri-1:hover .pri-plan{
   color: black;
}
.pri-1:hover .offer-h i{
   color: darkblue;
}
.pri-1:hover .offer-h{
   color: darkblue;
}
.pri-1:hover .pri-st{
    opacity: 1;
}
.offer{
    padding: 25px;
    border: 4px dotted black;
    border-radius: 6px;
    position: relative;
    z-index: 10;
}
.offer-h{
    display: flex;
    justify-content: center;
    transition: all 0.3s ease-out;
}
.offer-h i{
    font-size: 2rem;
    padding-top: 1rem;
    color: black;
    transition: all 0.3s ease-out;
}
.offer-h h2{
    font-size: 5rem;
    font-family: 'Anton', sans-serif;
}
.offer-h h4{
    padding-top: 3.5rem;
    font-size: 2rem;
    font-family: 'Anton', sans-serif;
}
.offer p{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    padding-bottom: 20px;
}
.offer-b{
    padding: 15px 10px;
    margin: 10px 28px;
}
.pri-plan{
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 50px 0 20px 0;
    font-size: 1.1rem;
    color: white;
    transition: all 0.3s ease-out;
}
.pri-empty{
    position: absolute;
    background-color: darkblue;
    padding-bottom: 83px;
    top: 507px;
    left: 0px;
    width: 100%;
    height: 6.5%;
    z-index: 5;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    border-top-left-radius: 170px;
    border-top-right-radius: 170px;
    transition: all 0.3s ease-out;
}
.pri-st{
    text-decoration: line-through;
    opacity: 0.3;
    transition: all 0.3s ease-out;
}

/* ---Team-Section--- */
#team-section{
    height: 100vh;
    background-color: white;
    display: none;
}


/* ---Features-Section--- */
#features-section{
    background-color: rgba(0, 0, 139, 0.9);
    color: white;
    padding-bottom: 95px;
}
.f-hr{
    border: 1px solid white;
}
#features-section::before{
    content: '';
    background: url(../Plumbing/p2.jpg) no-repeat fixed top center / cover;
    position: absolute;
    height: 200%;
    width: 100%;
    z-index: -5;
}
#features-section>h2{
    color: yellow;
}
.features{
    display: flex;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.features-item{
    width: 40%;
    border: 1px solid white;
    border-radius: 11px;
    display: flex;
    margin: 10px 18px;
    transition: all 0.3s ease-out;
    position: relative;
}
.features-item:hover{
    background-color: yellow;
    border: none;
}
.features-item:hover .f-icon i{
    color: darkblue;
}
.features-item:hover .f-item{
    color: darkblue;
}
.features-item:hover .f-item p{
    color: black;
}
.features-item:hover .f-arrow{
    box-shadow: 0px 0px 20px black;
}
.f-icon{
    width: 17%;
}
.f-icon i{
    display: block;
    text-align: center;
    font-size: 3.7rem;
    padding-top: 15px;
    color: white;
    transition: all 0.7s ease-in;
}
.f-item{
    width: 80%;
    color: white;
    transition: all 0.3s ease-out;
}
.f-item h2{
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.f-item p{
    width: 80%;
    padding: 20px 0;
    font-size: 1rem;
    font-family: 'Kanit', sans-serif
}
.f-arrow{
    position: absolute;
    top: 31%;
    left: 94%;
    width: 35px;
    height: 35px;
    z-index: 5;
    background-color: white;
    border-radius: 7px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-out;
}
.f-arrow i{
    font-size: 1.5rem;
    color: darkblue;
    display: block;
}
.f-arrow:hover{
    background-color: yellow;
}

/* ---News-Section--- */
#news-section{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-bottom: 60px;
}
.n-heading{
    width: 88%;
    margin: 35px auto;
    padding-top: 60px;
}
.n-heading h2{
    color: darkblue;
    font-size: 2.7rem;
    font-family: 'Noto Sans JP', sans-serif;
}
.n-line{
    width: 240px;
    height: 0.1px;
    border: 1px solid black;
    margin-top: 15px;
}
.n-news{
    width: 88%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.news{
    width: 31.5%;
    border: 1px solid gray;
    border-radius: 11px;
    transition: all 0.3s ease-out;
}
.news:hover{
    box-shadow: 0px 0px 10px gray;
}
.news:hover .news-top{
    background-color: rgba(0, 0, 0, 0.205);
    z-index: 5;
}
.news:hover .news-top i{
    z-index: 7;
}
.news-i{
    position: relative;
    width: 100%;
    height: 46.25%; 
}
.news-top{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-out;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.news-top i{
    background-color: yellow;
    color: darkblue;
    padding: 10px;
    border-radius: 5px;
    margin: 4px;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}
.news-top i:hover{
    background-color: white;
    color: black;
}
.news-i img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}
.news h4{
    color: darkblue;
    font-family: 'Noto Sans JP', sans-serif;
}
.news h3{
    font-family: 'Noto Sans JP', sans-serif;
}
.news h4, .news h3, .news p{
    padding: 13px 20px 0px 20px;
}
.news p{
    padding-bottom: 25px;
}

/* ---Client-Section--- */
#client-section{
    height: 100%;
    background-color: rgba(0, 0, 139, 0.9);
}
#client-section::before{
    content: '';
    background: url(../Plumbing/p2.jpg) no-repeat fixed top center / cover;
    position: absolute;
    height: 200%;
    width: 100%;
    z-index: -5;
}
#client-section>h2{
    color: yellow;
    font-weight: 1100;
}
.cl-hr{
    height: 0.1px;
    width: 33%;
    border: 1.5px solid white;
    background-color: white;
    margin: 0 auto;
}
#clients{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: 0px auto;
    padding: 45px 0 110px 0;
}
.client{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.client:hover span>i{
    animation: ani2 0.7s infinite ease-in-out forwards;
}
.client-say>p{
    color: white;
    position: relative;
}
.client-say span>i{
    font-size: 3rem;
    color: white;
    animation: ani2 1.4s infinite ease-in-out forwards;
}
@keyframes ani2 {
    0%{
        opacity: 0.5;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.5;
    }
}
#an-2{
    animation-delay: 0.2s;
}
#an-3{
    animation-delay: 0.4s;
}
.client-say span{
    position: absolute;
    top: 25px;
    left: -8px;
}
.client-img{
    display: flex;
    height: 100px;
}
.client-img img{
    border-radius: 60%;
}
.client-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    color: white;
}
.client-name h4{
    font-size: 1.3rem;
    font-family: 'Noto Sans JP', sans-serif;
}
.client-name p{
    font-size: 1.1rem;
    font-family: 'Kanit', sans-serif;
}


/* ---More-Client--- */
#more-client{
    background-color: rgb(235, 235, 235);
    height: 100%;
}
.client-logo{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 75px;
}
.client-l{
    width: 250px;
    margin: 10px;
    animation: ani3 1.2s infinite ease-in-out forwards;
}
@keyframes ani3 {
    0%{
        opacity: 0.5;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.5;
    }
}
#cl-1{
    animation-delay: 0s;
}
#cl-2{
    animation-delay: 0.4s;
}
#cl-3{
    animation-delay: 0.8s;
}
#cl-4{
    animation-delay: 1.2s;
}
#cl-5{
    animation-delay: 0s;
}
#cl-6{
    animation-delay: 0.4s;
}
#cl-7{
    animation-delay: 0.8s;
}
#cl-8{
    animation-delay: 1.2s;
}

/* ---Footer-Section--- */
#footer-section{
    background-color: darkblue;
    padding: 30px 0;
}
#footer-section p{
    text-align: center;
    font-family: Open Sans;
    color: white;
    font-size: 1.3rem;
}


